*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    padding: 15px 25px;
    height: 90px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
i,span{
    font-size: 30px;

}

#banner {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    color: white;
}


.container {
    text-align: center;
}


.container h1 {

    font-size: 3em;
    line-height: 1.45;
    margin: 0 0 0.75em 0
}


.continue-button {
    background-color: transparent;
    border: 2px solid white !important;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}


.continue-button:hover {
    background-color: white;
    color: #fcfdfe;
}

